apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
 name: ci
spec:
 resources:
   inputs:
    - name: hello-app
      type : git
 steps:
    - name: npm-install
      image : node:14
      command:
        - /bin/sh
        - -c 
      workingDir : /workspace/hello-app
      args: 
        - npm install      
    - name: test
      image : node:14
      command:
        - /bin/sh
        - -c 
      workingDir : /workspace/hello-app
      args: 
        - npm run test 
    - name: npm-build
      image : node:14
      command:
        - /bin/sh
        - -c 
      workingDir : /workspace/hello-app
      args: 
        - npm run build     